<div class='messages-bar'>
  <div class='bar-head'>Posts</div>
  <a class='btn btn-primary btn-large' href="#/index">Back to Posts</a>
</div>

<div class='message-sink'>
<h2><%= title %></h2>
<i>posted on <%= created_at.replace(created_at.substring(10), '') %></i>
<p class='message'>
  <%= message %>
</p>
<a href="#/<%= id %>/edit" class="edit"><img src='/assets/edit.png' height='24' width='24'></img></a>
<a href="#/<%= id %>/destroy" class="destroy"><img src='/assets/delete.png' height='24' width='24'></img></a>
</div>

