!!!
%html
  %head
    %title A Message Board using Rails and BackBone
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .navbar
      .navbar-inner
        .container
          %a{:href => root_url, :class => 'brand'} 
            = header(current_user)
          .nav-collapse
            %ul{:class => 'nav'}
              - if current_user
                %li= link_to("Hello, #{current_user.name}!")
                %li= link_to('Sign out', signout_url)  
              - else
                %li= link_to('Sign in using Twitter', '/auth/twitter')     
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => "alert" unless msg.blank?
      .hero-unit        
        = yield
      .footer